{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5"> About Page</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione porro autem sed, tempore nesciunt voluptatibus beatae laborum ea in a sapiente magni earum, nobis eaque eligendi nostrum veritatis. Quibusdam cumque harum velit fugiat officiis esse labore vel a dolore! Expedita sint deserunt totam quod iusto qui eum dignissimos excepturi commodi!</p>


<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione porro autem sed, tempore nesciunt voluptatibus beatae laborum ea in a sapiente magni earum, nobis eaque eligendi nostrum veritatis. Quibusdam cumque harum velit fugiat officiis esse labore vel a dolore! Expedita sint deserunt totam quod iusto qui eum dignissimos excepturi commodi!</p>

</div>
 
 

{% endblock content %} 