.jumbo-color{
    background-color:rgb(83,81, 81);
}

.form-color {
    color: rgb(219, 148, 148);
    background-color: rgb(83, 81, 81);
    
}

body{
    background-color: rgb(75,74,73);
    color: antiquewhite;
    
}
